// Base
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

// Fonts
html {
    font-family: "Montserrat", sans-serif;
}

// Colors
$red: #b40400;
$black: #292929;
$border: #e5e5e5;
$footer-txt: #cfcfcf;
$footer-border: #282828;
$brown: #ae946d

