// Base
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

// Fonts
html {
    font-family: "Montserrat", sans-serif;
}

// Colors
$red: #b40400;
$black:#292929;
$border: #E5E5E5;

// Брекпоінти для медіа запросов
@mixin media($breakpoint) {
    @if $breakpoint == xs {
        @media (max-width: 320px) {
            @content
        }
    }
    @if $breakpoint == sm {
        @media (max-width: 575px) {
            @content
        }
    }
    @if $breakpoint == md {
        @media (max-width: 767px) {
            @content
        }
    }
    @if $breakpoint == lg {
        @media (max-width: 991px) {
            @content
        }
    }
    @if $breakpoint == xl {
        @media (max-width: 1200px) {
            @content
        }
    }
}