// Dropdown lists in header-top
.drop-list {
    display: none;
    position:absolute;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #eae9e5,0 3px 24px -2px rgba(58,72,80,.34);
    background: #fff;
    width: 200px;
    & a {
        color: #292929;
    }
    & li:last-child {
        margin-top: 15px;
    }
}
// Button in header-top
.btn-list {
    background: none;
    border: none;
    cursor: pointer;  
}
// Limited line
.line-v ::before {
    content: " | ";
    margin: 0 5px 0 2px;
    color:#ffffff;
}
.line-b {
    border-bottom: 1px solid $border;
}

