.footer {
    background-color: #080808;
    color: #cfcfcf;
    margin-top: 80px;
    &-wrapper {
        padding-top: 60px;
    }
    &-top {
        justify-content: space-between;
    }
}
.footer-contact {
    flex: 0 0 380px;
    border-right: 1px solid #282828;
    &__logo {
        margin-bottom: 60px;
    }
}
.footer-contact__item {
        color: #cfcfcf;
        line-height: 25px;
        margin-bottom: 25px;
        span {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 5px;
        }
        a {
            color: #cfcfcf;
            font-size: 13px;
        }
}
.f-column {
    a {
        color: #ffffff;
    }
}
