// Header top
.header-top {
    background: $black;
    font-size: 13px;
    &__left {
        display: flex; 
    }
    &__leng {
        display: flex;
        align-items: center;
        & svg {
            margin-right: 10px;
        }
    }
    &__contact {
        display: flex;
        align-items: center;
    }
    &__contact ::before {
        content: " | ";
        margin: 0 5px 0 2px;
        color:#ffffff;
    }
}
.dropdown-list {
    display: none;
}
.dropdown-list__active {
    display: block;
}
.header-top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}
.btn-list {
    background: none;
    border: none;
    cursor: pointer;
    & span {
        color: #ffffff;
    }
}
.header-top__help {
    display: flex;
    &__return {
        & a {
            color:#ffffff
        }
    }
    &__return ::after {
        content: " | ";
        margin: 0 5px 0 2px;
        color:#ffffff;
    }
    &__delivery {
        & a {
            color: #ffffff;
        }
    }
}
.help-mob {
    display: none;
}
@media (max-width: 575px) {
    .header-top__help {
        display: none;
    }
    .help-mob {
        display: block;
        color: #ffffff;
    }
}