.header-second {
    justify-content: space-between;
    height: 80px;
}
.header-menu__search {
    position: relative;
    margin-right: 10px;
}
.header-input {
    padding: 10px 30px;
    border: 1px solid $border;
    border-radius: 5px;
}
.btn-search {
    position: absolute;
    top: 3px;
    left: -1px;
}
.header-menu {
    &__basket {
        button {
            position: relative;
            background: none;
            border: none;
        }
        span {
            position: absolute;
            font-size: 13px;
            font-weight: 500;
            right: 1px;
            color: $red;
        }
    }
    &__item {
        margin-right: 30px;
        a {
            color: $black;
            font-weight: 500;
            text-decoration: none;
            &:hover {
                color: $brown;
            }
        }
    }
}

.menu-mob {
    display: none;
}
@media (max-width: 1200px) {
  // Hamburger menu
  .header-menu {
    // display: none;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background: #5290ea;
    z-index: 20;
    transition: 0.8s all;
    &__list {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        }
    } 
    .menu-mob {
        display: block;
        margin-left: 10px;
        width: 30px;
        height: 14px;
        z-index: 30;
        cursor: pointer;
        span {
            height: 2px;
            width: 100%;
            display: block;
            background: #555;
            margin-bottom: 4px;
            transition: 1s all;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .menu-mob__active {
        span {
            margin-bottom: -2px;
            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }
        }
    }
    .header-menu__active {
        // display: block;
        right: 0px;
    }
    // Hamburger menu end

    .header-menu__search {
        margin-right: 0;
    }
    .header-input {
        display: none;
    }
    .btn-search {
        position: relative;
        top: 0;
        left: 15px;
    }
}
