.header-menu {
    border-bottom: 1px solid #E5E5E5;
}
.header-menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header-nav {
    display: block;
    & ul {
        display: flex;
        align-items: center;
        gap: 30px;
        & li {
            font-weight: 500;
        }
    }
}