// Header top
.header-top {
    background: $black;
    font-size: 13px;
    &__lang {
        position: relative;
    }
    &__contact {
        position: relative;
    }
}
.header-top-wrap {
    height: 36px;
}
.drop-list__contact {
    margin-top: 5px;
    left: 15px;
}
.drop-list__lang {
    margin-top: 26px;
    left: 5px;
    & svg {
        margin-right: 10px;
    }
}
.open-lang {
    display: block;
}
.open-contact {
    display: block;
}
.btn-list {
    & span {
        color: #ffffff;
    } 
    & svg {
        margin-right: 10px;
    } 
}

.header-top__right {
    & a {
        color: #ffffff;
    }
    &--mob {
        display: none;
    }
}
@media (max-width: 575px) {
    .header-top__right {
        display: none;
        &--mob {
            display: block;
            color: #ffffff;
        }
    }
}