// Header top
.header-top {
    background: $black;
    font-size: 13px;
    &__lang {
        position: relative;
    }
    &__contact {
        position: relative;
    }
    &__right--mob {
        position: relative;
    }
}
.h-36 {
    height: 36px;
}
.drop-list__contact {
    top: 20px;
    left: 15px;
}
.drop-list__lang {
    top: 23px;
    left: 5px;
    & svg {
        margin-right: 10px;
    }
}
.drop-list__right {
    top: 20px;
    left: -90px;
}
.open-lang {
    display: block;
}
.open-contact {
    display: block;
}
.open-right {
    display: block;
}
.btn-list {
    & span {
        color: #ffffff;
    } 
    & svg {
        margin-right: 10px;
    } 
}

.header-top__right {
    & a {
        color: #ffffff;
    }
    &--mob {
        display: none;
    }
}
@media (max-width: 575px) {
    .header-top__right {
        display: none;
        &--mob {
            display: block;
            color: #ffffff;
        }
    }
}